#
# This is configuration file to switch the default system configuration to fips
# mode.
#

[provider_sect]
default = fips_mode_default_sect
fips = fips_sect
base = base_sect

[fips_mode_default_sect]
# this empty section without the activate= option is used to deactivate the
# default provider

[base_sect]
activate = 1
