#
# This is configuration file for the legacy provider.
#
# This module contains algorithm implementations that are considered *insecure*
# are no longer in common use.
#

[legacy_sect]

# this module is disabled by default, to activate it you need to uncomment the
# next line

#activate = 1
