#
# CDDL HEADER START
#
# The contents of this file are subject to the terms of the
# Common Development and Distribution License (the "License").
# You may not use this file except in compliance with the License.
#
# You can obtain a copy of the license at usr/src/OPENSOLARIS.LICENSE
# or http://www.opensolaris.org/os/licensing.
# See the License for the specific language governing permissions
# and limitations under the License.
#
# When distributing Covered Code, include this CDDL HEADER in each
# file and include the License file at usr/src/OPENSOLARIS.LICENSE.
# If applicable, add the following below this CDDL HEADER, with the
# fields enclosed by brackets "[]" replaced with your own identifying
# information: Portions Copyright [yyyy] [name of copyright owner]
#
# CDDL HEADER END
#

#
# Copyright (c) 2019, 2020, Oracle and/or its affiliates.
#

#
# Developer notifications to be reported by 'hg pbchk', 'hg nits', or
# 'hg notifychk' when a file matching one of the listed regexes is modified.
# See usr/src/tools/test.d/README in the ON gate for format/syntax details.
#

[history]
synopsis = History file reminders
pattern.default	= components/.*/history
pattern.i386	= components/.*/history.i386
pattern.sparc	= components/.*/history.sparc
notice = Be sure any history changes or additions list AUTO_FMRI for the
 build number.

[components/x11/xserver/xvnc]
synopsis = Shared source between Xorg & Xvnc builds
pattern.Makefile = components/x11/xserver/xorg/Makefile
pattern.patches = components/x11/xserver/xorg/.*
notice = Any changes to the Xorg patches or Makefile may affect the Xvnc
 build as well.  Make sure components/x11/xserver/xvnc still builds with
 these changes.

[ON-boot-archive]
synopsis = Files in boot archives
pattern.curl         = components/curl/curl.p5m
pattern.cyrus-sasl   = components/cyrus-sasl/libsasl2.p5m
pattern.jansson      = components/jansson/jansson.p5m
pattern.json-c       = components/json-c/json-c.p5m
pattern.krb5         = components/krb5/krb5.p5m
pattern.libestr      = components/libestr/libestr.p5m
pattern.libexpat     = components/libexpat/expat.p5m
pattern.libffi       = components/libffi/libffi.p5m
pattern.libidn       = components/libidn/libidn.p5m
pattern.liblogging   = components/liblogging/liblogging.p5m
pattern.libssh2      = components/libssh2/libssh2.p5m
pattern.libtecla     = components/libtecla/libtecla.p5m
pattern.libxml2      = components/libxml2/libxml2.p5m
pattern.libxslt      = components/libxslt/libxslt.p5m
pattern.ncurses      = components/ncurses/ncurses.p5m
pattern.nghttp2      = components/nghttp2/nghttp2.p5m
pattern.openldap     = components/openldap/openldap-client.p5m
pattern.openssl      = components/openssl/openssl-default/openssl-default.p5m
pattern.pcre         = components/pcre/pcre.p5m
pattern.python37     = components/python/python37/python-37.p5m
pattern.sqlite3      = components/sqlite-3/sqlite-3.p5m
pattern.zlib         = components/zlib/zlib.p5m
notice = Changes to the names or paths of files in this package (including
 changing the .so.<version> number of a library) may require updates to the
 boot archive contents in ON.  See components/curl/TESTING for details.

[ON-build-targets]
synopsis = Links in stub proto area in ON builds
pattern.at-spi2-core = components/gnome/at-spi2-core/.*
pattern.atk          = components/gnome/atk/.*
pattern.berkeleydb   = components/berkeleydb/.*
pattern.bzip2        = components/bzip2/.*
pattern.cairo        = components/desktop/cairo/.*
pattern.curl         = components/curl/.*
pattern.cyrus-sasl   = components/cyrus-sasl/.*
pattern.dbus         = components/desktop/dbus/.*
pattern.dbus-glib    = components/desktop/dbus-glib/.*
pattern.fontconfig   = components/x11/lib/fontconfig/.*
pattern.freetype     = components/x11/lib/freetype/.*
pattern.fribidi      = components/gnome/fribidi/.*
pattern.gdk-pixbuf   = components/gnome/gdk-pixbuf/.*
pattern.glib2        = components/gnome/glib2/.*
pattern.gnump        = components/gnump/.*
pattern.gnutls       = components/gnutls-3/.*
pattern.gtk3         = components/gnome/gtk3/.*
pattern.harfbuzz     = components/desktop/harfbuzz/.*
pattern.jansson      = components/jansson/.*
pattern.json-c       = components/json-c/.*
pattern.krb5         = components/krb5/.*
pattern.libX11       = components/x11/lib/libX11/.*
pattern.libXau       = components/x11/lib/libXau/.*
pattern.libXcomposite= components/x11/lib/libXcomposite/.*
pattern.libXcursor   = components/x11/lib/libXcursor/.*
pattern.libXdamage   = components/x11/lib/libXdamage/.*
pattern.libXdmcp     = components/x11/lib/libXdmcp/.*
pattern.libXext      = components/x11/lib/libXext/.*
pattern.libXfixes    = components/x11/lib/libXfixes/.*
pattern.libXi        = components/x11/lib/libXi/.*
pattern.libXinerama  = components/x11/lib/libXinerama/.*
pattern.libXrandr    = components/x11/lib/libXrandr/.*
pattern.libXrender   = components/x11/lib/libXrender/.*
pattern.libXxf86vm   = components/x11/lib/libXxf86vm/.*
pattern.libdrm       = components/x11/lib/libdrm/.*
pattern.libedit      = components/libedit/.*
pattern.libepoxy     = components/x11/lib/libepoxy/.*
pattern.libexpat     = components/libexpat/.*
pattern.libffi       = components/libffi/.*
pattern.libgcrypt    = components/libgcrypt/.*
pattern.libgpg-error = components/libgpg-error/.*
pattern.libidn       = components/libidn/.*
pattern.libmicrohttpd= components/libmicrohttpd/.*
pattern.libpcap      = components/libpcap/.*
pattern.libpng14     = components/desktop/libpng14/.*
pattern.libpng16     = components/desktop/libpng16/.*
pattern.libssh2      = components/libssh2/.*
pattern.libtecla     = components/libtecla/.*
pattern.libxcb       = components/x11/lib/libxcb/.*
pattern.libxml2      = components/libxml2/.*
pattern.libxshmfence = components/x11/lib/libxshmfence/.*
pattern.libxslt      = components/libxslt/.*
pattern.mesa         = components/x11/lib/mesa/.*
pattern.net-snmp     = components/net-snmp/.*
pattern.nettle       = components/nettle/.*
pattern.nghttp2      = components/nghttp2/.*
pattern.nspr         = components/nspr/.*
pattern.open-fabrics = components/open-fabrics/.*
pattern.openssl      = components/openssl/.*
pattern.pango        = components/gnome/pango/.*
pattern.pcre         = components/pcre/.*
pattern.pixman       = components/x11/lib/pixman/.*
pattern.polkit       = components/desktop/polkit/.*
pattern.popt         = components/popt/.*
pattern.python27     = components/python/python27/.*
pattern.python37     = components/python/python37/.*
pattern.sqlite3      = components/sqlite-3/.*
pattern.trousers     = components/trousers/.*
pattern.zlib         = components/zlib/.*
notice = Changes to the names or paths of files in this package (including
 changing the .so.<version> number of a library), or to the set of libraries
 which these libraries depend on, may require updates to the SYM.BLDSYSLIB
 lists in usr/src/Targetdirs in ON and to the ON-build-targets list in
 the Userland tools/notifications.cfg file.  Check with the ON and UL
 gatekeepers if you are not sure what you need to do.

[ON-smf]
synopsis = sqlite use by SMF
pattern.sqlite3 = components/sqlite-3/.*
notice = See components/sqlite-3/TESTING to verify SMF works with your changes
 to sqlite-3.
